@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

  :root{
    --font-family: 'Pixelify Sans', sans-serif;
    --bg-color: #90C8AC;
    --primary-color: #F5F0BB;
    --second-color: #73A9AD;
    --third-color : #C4DFAA;
    --game-over : #ED2B2A;
    --game-over-dois: #F15A59;
    --game-over-borda: #070A52;
  }

  body{
    background-color: var(--bg-color);
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    margin: 0;
    font-family: var(--font-family);
  }

  h1{
    font-size: 7rem;
  }

  h3{
    font-size: 3.50rem;
    margin-top: 20px;
  }

  .mensagem{
    font-size: 2.5rem;
    margin: 40px;
  }

  .box{
    border: 2px solid var(--primary-color);
    display: inline-block;
    font-size: 5rem;
    margin: 20px;
    padding: 10px;
  }

  .btnPlay{
    border: 5px solid var(--second-color);
    border-radius: 5px;
    padding: 10px 15px;
    margin-top: 40px;
    background: var(--primary-color);
    font-size: 4rem;
    font-family: var(--font-family);
    text-transform: uppercase;
    color: var(--second-color);
  }

  .btnPlay:hover{
    background-color: var(--third-color);
    cursor: pointer;
  }

  .gameOver{
    border: 5px solid var(--game-over-borda);
    border-radius: 5px;
    padding: 10px 15px;
    margin-top: 40px;
    background: var(--game-over);
    font-size: 4rem;
    font-family: var(--font-family);
    text-transform: uppercase;
    color: var(--primary-color)
  }

  .gameOver:hover{
    background-color: var(--game-over-dois);
    cursor: pointer;
  }